/*navbar*/
.custom-navbar {
    background-color: transparent !important;
    backdrop-filter: none;
      -webkit-backdrop-filter: none;
    box-shadow: none;
    border: none;
    z-index: 1000;
}

/* page logo allignments */
.page-title{
    width: auto;
    padding-right: 12px;
}

/*menu links styles*/
.navbar-nav .nav-link {
    color: white !important;
    font-weight: 600;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9) !important;
}

/*menu links hover styles*/
.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 1) !important;
}

/*menu links active styles*/
.navbar-nav .nav-link.active {
    color: #ffc107! important;
    font-weight: 700;
    border-bottom: 2px solid #ffc107 !important;
}