.custom-navbar {
    background-color: transparent;
    backdrop-filter: none;
      -webkit-backdrop-filter: none;
    box-shadow: none;
    border: none;
    z-index: 1000;
}

.page-title{
    letter-spacing: 1.5px;
    font-weight: 800;
}

