.custom-navbar {
    background-color: transparent;
    backdrop-filter: none;
      -webkit-backdrop-filter: none;
    box-shadow: none;
    border: none;
    z-index: 1000;
}

.page-title{
    width: auto;
    padding-right: 12px;
}

