.custom-navbar {
    background-color: transparent;
    backdrop-filter: none;
      -webkit-backdrop-filter: none;
    box-shadow: none;
    border: none;
    z-index: 1000;
}

.page-title{
    width: auto;
    padding-right: 12px;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
}